[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/tman/.vim/bundle/pathogen"]
	path = /home/tman/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
